body
{
    background-color: rgba(196, 193, 193, 0.349);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a
{
    color: rgb(47, 76, 77);
    font: Georgia;
}
p
{
    font: verdana;
    font-size: small;
    color: black;
}
h2
{
    font: Georgia;
    color: rgb(101, 176, 179);
    font-size: medium;
    font-style: italic;
}
.link
{
    font: Georgia;
    color: rgb(6, 153, 158);
    font-size: larger;
    background-color: transparent;
}
blockquote
{
    font: verdana;
    font-size: small;
    color: black;
}
div
{
    background-color: rgba(189, 184, 184, 0.349);
}
ol
{
    list-style-type: disc;
}
.texto
{
    font-style: italic;
}