body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #d7f1eb46;
}
*
{
    margin: 0px;
    padding: 0px;
}
#menu
{
    margin: auto;
    width: 379px;
}
ul
{
    list-style: none;
}
.nav > li
{
    float: left;
}
.nav li a
{
    background-color:  #4ec7a9bd;
    color: white;
    text-decoration: none;
    padding: 15px 12px;
    display: block;
}
.nav li a:hover
{
    background-color:  rgba(68, 133, 124, 0.459);
}
.nav li ul
{
    display: none;
    position: absolute;
}
.nav li:hover > ul
{
    display: block;
}
.nav li ul li
{
    position: relative;
}
.nav li ul li ul
{
    right: -175px;
    top: 25px;
}

p
{
    font-family: 'Concert One', cursive;
    font-size: x-large;
}
table
{
    text-align: center;
    align-items: center;
    padding: 10px 130px;
}
td
{
    padding: 10px 90px;
}
